In [4]:
f = open("file.txt","r")
for line in f:
    list= line.split(" ")
    list[len(list)-1] = list[len(list)-1][:-1]
    a=''
    for i in list:
        a+=i
        a+=' '
    print(a+"  ---  Word count: "+str(len(list)))
f.close()

Paragraphs are the building blocks of papers.   ---  Word count: 7
Many students define paragraphs in terms of length:   ---  Word count: 8
a paragraph is a group of at least five sentences, a paragraph is half a page long, etc.   ---  Word count: 18
In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph   ---  Word count: 16

In [5]:
weather = {'Date':[1,2,3,4,5,6], 'Event':['rainy','sunny','stormy','thunder','winter','cold'], 'temperature' : [23,54,32,12,33,65], 'comment': ['go','nogo','nogo','go','go','nogo']}
import pandas as pd
df = pd.DataFrame(weather)
df

   Date    Event  temperature comment
0     1    rainy           23      go
1     2    sunny           54    nogo
2     3   stormy           32    nogo
3     4  thunder           12      go
4     5   winter           33      go
5     6     cold           65    nogo